body{
    background: black;
  }
  .container{
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
  .container h1{
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  #XMLID_226_{
    animation: draw 10s forwards;
  }
   
   @keyframes draw {
    from{}
   
    to {
      stroke-dashoffset: 0;
    }
  }